* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* List Section */
.book-card {
  font-weight: 600;
}

.book-card:nth-child(odd) {
  background-color: #dcdcdc;
}

.line {
  width: 30%;
  border-bottom: 2px solid black;
}

.input::placeholder {
  color: black;
}

.add-book {
  align-self: flex-end;
}

.remove-book,
.add-book {
  box-shadow: 2px 2px black;
}

@media only screen and (min-width: 992px) {
  main {
    width: 100%;
    margin: 0 auto;
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }
}
