* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.d-flex {
  display: flex;
}

.d-column {
  flex-direction: column;
}

.d-align-center {
  align-items: center;
}

.d-justify-center {
  justify-content: center;
}
